			<div class="form-group">
				<label for="firstName" class="col-sm-2 control-label">First Name</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" placeholder="First Name" ng-model="emp.firstName" id="firstName" required></input>
				</div>
			</div>

			<div class="form-group">
				<label for="lastName" class="col-sm-2 control-label">Last Name</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" placeholder="lastName" ng-model="emp.lastName" id="lastName" required></input>
				</div>
			</div>