<!-- Tab panes + Panel body -->
<div class="panel-body tab-content">
	<div class="tab-pane active" id="home">
		<table st-table="displayedCollection" st-safe-src="employees" class="table table-striped">
			<thead>
				<tr>
					<th st-sort="active">Employee ID</th>
					<th st-sort="row.name">Name</th>
					<th st-sort="type">Department</th>
					<th st-sort="executionNode">Votes</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="row in displayedCollection">
					<td><a href="#/emp/{{row.id}}">{{row.id}}</a></td>
					<td><a href="#/emp/{{row.id}}">{{row.firstName}}</a></td>
					<td>{{row.dept}}</td>
					<td>{{row.lastName}}</td>
					<td><span class="glyphicon glyphicon-remove" ng-click="deleteEmployee(row.id)">{{row.firstName}}</span></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>